<div id="<%= dom_id invoice %>">
  <p>
    <strong>description:</strong>
    <%= invoice.description %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= invoice.payment_type %>
  </p>

  <p>
    <strong>Reference month:</strong>
    <%= invoice.reference_month %>
  </p>

  <p>
    <strong>Payment day:</strong>
    <%= invoice.payment_day %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

  <p>
    <strong>Payed date:</strong>
    <%= invoice.payed_date %>
  </p>

  <p>
    <strong>Invoice value:</strong>
    <%= invoice.invoice_value %>
  </p>

  <p>
    <strong>Had error:</strong>
    <%= invoice.had_error %>
  </p>

  <p>
    <strong>Retries:</strong>
    <%= invoice.retries %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= invoice.client_id %>
  </p>

</div>
