<div class="col-sm-auto bg-light sticky-top">
  <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
      <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right">
          <h2>FJ</h2>
      </a>
      <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
          <li class="nav-item">
              <a href=<%= clients_path %> class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                  <i class="bi-briefcase fs-1"></i>
              </a>
          </li>
          <li>
            <a href=<%= users_path %> class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi-people fs-1"></i>
            </a>
          </li>
          <li>
            <a href=<%= roles_path %> class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi bi-archive fs-1"></i>
            </a>
          </li>
          <li>
            <a href=<%= client_plans_path %> class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi-calculator fs-1"></i>
            </a>
          </li>
          <li>
            <a href=<%= charts_path %> class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi-pie-chart fs-1"></i>
            </a>
          </li>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-table fs-1"></i>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li><a class="dropdown-item" href=<%= reports_new_clients_path %>>New Clients</a></li>
                <li><a class="dropdown-item" href=<%= reports_clients_with_error_today_path %>>Clients With Error Today</a></li>
                <li><a class="dropdown-item" href=<%= reports_clients_invoiced_today_path %>>Clients Invoiced Today</a></li>
                <li><a class="dropdown-item" href=<%= reports_clients_invoiced_yesterday_path %>>Clients Invoiced Yesterday</a></li>
                <li><a class="dropdown-item" href=<%= reports_clients_path %>>Clients</a></li>
            </ul>
          </div>
      </ul>
      <div class="dropdown">
          <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-person-circle h2"></i>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
              <li><a class="dropdown-item" href=<%= user_path(@current_user) %>>My Profile</a></li>
              <li><a class="dropdown-item" href=<%= logout_path %>>Logout</a></li>
          </ul>
      </div>
  </div>
</div>