<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= client.document %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= client.document_type %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= client.payment_type %>
  </p>

  <p>
    <strong>Payment day:</strong>
    <%= client.payment_day %>
  </p>

  <p>
    <strong>Plan value:</strong>
    <%= client.plan_value %>
  </p>

</div>
