<%= form_with(model: client) do |form| %>
  <div class="row">
    <div class="col-12">
      <% if client.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
            <% client.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 mb-1">
      <div class="form-floating">
        <%= form.text_field :name, class: "form-control", readonly: readonly %>
        <%= form.label :name %>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-1">
      <div class="form-floating">
        <%= form.text_field :document, class: "form-control", readonly: readonly %>
        <%= form.label :document %>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-1">
      <div class="form-floating">
        <div class="form-floating">
         <div class="form-floating">
            <%= form.select :document_type, ClientsHelper.document_type_options, {}, class: "form-select", disabled: readonly %>
            <%= form.label :document_type %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 mb-1">
      <div class="form-floating">
        <%= form.email_field :email, class: "form-control", readonly: readonly %>
        <%= form.label :email %>
      </div>
    </div>
    <div class="col-sm-12 col-md-2 mb-1">
      <div class="form-floating">
        <%= form.select :payment_type, PaymentTypesHelper.integration_options, {}, class: "form-select", disabled: readonly %>
        <%= form.label :payment_type %>
      </div>
    </div>
    <div class="col-sm-12 col-md-2 mb-1">
      <div class="form-floating">
        <%= form.number_field :payment_day, class: "form-control", readonly: readonly, min: 1, max: 31 %>
        <%= form.label :payment_day %>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-1">
      <div class="form-floating">
        <%= form.select :client_plan_id, Client::PlansHelper.plan_options, {}, class: "form-select", disabled: readonly, id: :client_plan %>
        <%= form.label :plan %>
      </div>
    </div>
    <div class="col-sm-12 col-md-1 mb-1">
      <div class="form-floating">
        <%= form.number_field :discount, class: "form-control", readonly: readonly, min: 0, max: 100, step: 0.01 %>
        <%= form.label :discount %>
      </div>
    </div>
  </div>
  <% unless readonly %>
    <div class="row">
      <div class="col-12">
        <%= form.submit 'Save', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>

