<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Document</th>
      <th scope="col">Document Type</th>
      <% unless is_report %>
        <th scope="col">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% clients.each do |client| %>
      <tr>
        <td><%= client.id %></td>
        <td>
          <%= client.name %>
          <% if client.current_status.present? %>
            <%= render "client/invoices/status_badge", status: client.current_status, text: client.current_status.humanize %>
          <% end %>
        </td>
        <td><%= client.document %></td>
        <td><%= client.document_type.upcase %></td>
        <% unless is_report %>
          <td><%= link_to "Show", client %> | <%= link_to "Edit", edit_client_path(client) %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>