<%= render "shared/menu" %>
<div class="col-sm p-3 min-vh-100">
  <%= render 'shared/notices' %>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
        <h1 class="h2">
          <%= @client.name %>
          <% if @client.current_status.present? %>
            <%= render "client/invoices/status_badge", status: @client.current_status, text: @client.current_status.humanize %>
          <% end %>
          - <%= number_to_currency(@client.plan_price) %>
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0 mx-2">
          <div class="btn-group me-2">
            <% if current_user.admin? %>
              <%= link_to client_path(@client), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" do %>
                <i class="bi bi-trash"></i> Delete
              <% end %>
              <%= link_to edit_client_path(@client), class: "btn btn-sm btn-outline-primary" do %>
                <i class="bi bi-pencil-square"></i> Edit
              <% end %>
            <% end %>
            <%= link_to clients_path, class: "btn btn-sm btn-outline-secondary" do %>
              <i class="bi bi-arrow-return-left"></i> Back to clients
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-1 mt-2 mb-1">
    <div class="col-sm-12 col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom">
            <h5 class="card-title">Yearly</h5>
          </div>
          <div class="row mt-1">
            <div class="col-sm-12 col-md-3">
              <div class="card border-secondary ">
                <div class="card-header">Earnings</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= number_to_currency(@client.earnings_this_year) %></h5>
                  <p class="card-text">
                    <%= render "percentage", percentage: @client.earnings_comparisson_yearly, period: "last year" %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card border-secondary ">
                <div class="card-header">Expected Earnings</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= number_to_currency(@client.expected_earnings_this_year) %></h5>
                  <p class="card-text">
                    <%= render "percentage", percentage: @client.expected_earnings_comparisson_yearly, period: "last year" %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card border-secondary ">
                <div class="card-header">Errors</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= @client.errors_this_year %></h5>
                  <p class="card-text">
                    <%= render "percentage", percentage: @client.errors_comparisson_yearly, period: "last year" %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card border-secondary ">
                <div class="card-header">Generated Invoices</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= @client.generated_invoices_this_year %></h5>
                  <p class="card-text">
                    <%= render "percentage", percentage: @client.generated_invoices_comparisson_yearly, period: "last year" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom">
            <h5 class="card-title">Monthly</h5>
          </div>
          <div class="row mt-1">
            <div class="col-sm-12 col-md-6">
              <div class="card border-secondary ">
                <div class="card-header">Earnings</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= number_to_currency(@client.earnings_this_month) %></h5>
                  <p class="card-text">
                    <%= render "percentage", percentage: @client.earnings_comparisson_monthly, period: "last month" %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="card border-secondary ">
                <div class="card-header">Errors</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= @client.errors_this_month %></h5>
                  <p class="card-text">
                    <%= render "percentage", percentage: @client.errors_comparisson_monthly, period: "this last year" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card mx-3">
        <div class="card-body">
          <h5 class="card-title">Data</h5>
          <%= render "form", client: @client, readonly: true %>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-2">
    <div class="col-12">
      <div class="card mx-3">
        <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom">
            <h5 class="card-title">Invoices</h5>
          </div>
          <div class="row">
            <div class="col-12">
              <%= render "client/invoices/table", invoices: @client.invoices %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>