<div id="<%= dom_id role %>">
  <p>
    <strong>Id:</strong>
    <%= role.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= role.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= role.description %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= role.code %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= role.active %>
  </p>

</div>
