<div id="<%= dom_id error_log %>">
  <p>
    <strong>Client invoice:</strong>
    <%= error_log.client_invoice_id %>
  </p>

  <p>
    <strong>Retry number:</strong>
    <%= error_log.retry_number %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= error_log.date %>
  </p>

  <p>
    <strong>Log:</strong>
    <%= error_log.log %>
  </p>

</div>
